* {
  scroll-behavior: smooth;
}

@import "tailwindcss";

:root {
  --background: #fff9f0; /* krem pucat agak kuning, netral untuk latar */
  --foreground: #2a1c0f; /* coklat gelap pekat, untuk teks utama */
  --primary: #d9a441; /* kuning keemasan khas daging jahe */
  --secondary: #b77c3e; /* coklat-oren hangat, aksen sekunder */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}
